
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
}


.font-size-14{
  font-size : 0.875rem;
}
.font-size-18{
  font-size:1.125rem;
}
.font-size-22{
  font-size:1.375rem;
}
.font-size-24{
  font-size:1.5rem;
}
.font-size-28{
  font-size:1.75rem;
}
.font-size-34{
  font-size:2.125rem!important;
}
.bg-light{
  background: #EFF3F6!important;
}
.bg-blue {

  background-image: linear-gradient(#3A7BD5 , #00D2FF);
}
.font-blue {
  color: #3A7BD5!important;
}
.button-normal{
  width:6.25rem!important;
  height: 1.875rem!important;
  font-size: 0.75rem;
  border: none;
}
nav button{
  
  width:6.25rem!important;
  height:2.5rem!important;
  border : 1px solid #3A7BD5!important;

}
nav input{
  width:200px!important;
  height:40px!important;
  color: #3A7BD5!important;
}
  
nav ul li a {
  font-size: 0.875rem;
  color: #3A7CD5!important;
  letter-spacing: 0.23px;
}
.header{
  margin-top: 3.6%;
  margin-bottom:4.4%
}
h3{
  font-family: 'Poppins-Regular';
  font-size:2.375rem;
}
h4{
  font-size:2rem;
}
h5{
  font-size:1.5rem;
}

.private-span
{
  font-style: italic;
  font-weight: bold;;
  color:#3A7BD5;
}
.head-text p {
  font-size:18px;
}
.register-text{
font-style: italic;
font-weight: bold;
color: #3A7CD5;
letter-spacing: 0;
}

.section-button{
box-shadow: 0 4px 20px 0 rgba(0,0,0,0.14);
border-radius: 5px;
border-radius: 5px;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0.3px;
width:244px;
height:66px;
}


footer a {
  color : black;
}

.footer-text
{
font-size: 10px;
color: #000000;
letter-spacing: 0;
}

.search input::placeholder{
  color:#3A7BD5;
}

.register-form{
  max-width: 481px!important;
  
}
#search{
  position: relative;
}
#search::after{
  position: absolute;
  font-family: "Font Awesome 5 Free";
  background:white;
  font-weight: 900;
  height:30px;
  display: flex;
  align-items: center;
  color:#3A7BD5;
  width:30px;
  content: "\f002";
  right:10px;
  

}